# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

### Firebase ###
.idea
**/node_modules/*
**/.firebaserc
**/firebase.json
**/firestore-debug.log
**/firestore.indexes.json
**/firestore.rules
**/serviceAccount.json
**/storage.rules

### Credentials ###
serviceAccount.json
hkn-reader-credentials.json
hkn-editor-credentials.json

### Firebase Patch ###
.runtimeconfig.json
.firebase/

### VisualStudioCode ###
.vscode/*

### VisualStudioCode Patch ###
# Ignore all local history of files
.history